body {
  font-size: 18px;
}

tr td {
  background: white;
}

.cell {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}

.header {
  background: lightblue;
  font-weight: bold;
}
